<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><?js= env.conf.metadata.title ?>: <?js= title ?></title>
    <script src="scripts/prism.dev.js"></script>
    <?js if (env.conf.opts.hasOwnProperty('prism-theme')) { ?>
      <link type="text/css" rel="stylesheet" href="styles/vendor/<?js= env.conf.opts['prism-theme'] ?>.css">
    <?js } else { ?>
      <link type="text/css" rel="stylesheet" href="styles/vendor/prism-tomorrow-night.css">
    <?js } ?>
    <link type="text/css" rel="stylesheet" href="styles/styles.css">
    <?js if (env.conf.hasOwnProperty('styles')) { ?>
    <?js var styles = env.conf.styles; ?>
    <style>
      :root {
      <?js for (var key in styles) { ?>
      <?js if (styles.hasOwnProperty(key)) { ?>
        --<?js= key + ': ' + styles[key] ?>;
      <?js } } ?>
      }
    </style>
    <?js } ?>
    <style>
      .container {
        margin: 0;
      }
    </style>
</head>
<body>

<header class="layout-header">
  <?js if (env.conf.metadata.logo) { ?>
    <a href="./">
      <img
        src="<?js= env.conf.metadata.logo ?>"
        alt="<?js= env.conf.metadata.title ?>"
      >
    </a>
  <?js } ?>
  <h1>
    <a href="./index.html">
      <?js= env.conf.metadata.title ?>
    </a>
  </h1>
  <nav class="layout-nav">
    <?js= this.nav ?>
  </nav>
</header>


<main class="layout-main <?js if (kind === 'source') { ?> layout-content--source<?js } ?>">
  <div class="container">
    <p class="page-kind"><?js= kind ?></p>
    <h1 class="page-title"><?js= title ?></h1>
    <?js= content ?>
  </div>
</main>

<footer class="layout-footer">
  <div class="container">
    Documentation generated by <a href="https://github.com/jsdoc3/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
  </div>
</footer>

</body>
</html>
