name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x

      - name: Setup C++ environment on linux
        uses: kurocha/setup-cpp@v1

      - name: Install dependencies on linux
        run: sudo apt-get install -yq libblas-dev liblapack-dev liblapacke-dev python-dev

      - name: Install package dependencies
        run: npm ci

      - name: Build dist/
        run: npm run build

      - name: Generate docs/
        run: npm run docs

      - name: Test
        run: npm test

      - name: Publish coverage to CodeClimate
        uses: paambaati/codeclimate-action@v2.7.5
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CC_TEST_REPORTER_ID}}
        with:
          coverageLocations: ${{github.workspace}}/coverage/lcov.info:lcov

      - name: Publish dist/
        run: |
          git config --global user.name 'Mateo Gianolio'
          git config --global user.email 'mateogianolio@users.noreply.github.com'
          git add dist
          git commit -m "Generate dist"
          git push origin master

      - name: Publish docs/
        run: |
          git config --global user.name 'Mateo Gianolio'
          git config --global user.email 'mateogianolio@users.noreply.github.com'
          git add docs
          git commit -m "Generate docs"
          git push origin master

      - id: publish
        name: Publish package to npm
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}

      - if: steps.publish.outputs.type != 'none'
        run: |
          git tag ${{ steps.publish.outputs.version }}
          git push origin ${{ steps.publish.outputs.version }}
